backend/.gradle/*
backend/build/*
/sql/.gradle
backend/.idea/*
.idea/*
*.iml
.gradle/*

*/**/.envrc
*/**/local_kube_config.yaml
*/**/local_kube_config.yaml.eksctl.lock

*/**/hidden.csv
*/**/hidden.txt
*/**/hidden.md
*/**/.terraform
*/**/.terraform.lock.hcl

.DS_Store

/backend/schema*.sql


/sql/gradle/
/sql/gradlew
/sql/gradlew.bat

/backend/out

backend/src/integrationTest/kotlin/sg/floenergy/energycore/exposed_dump.sql
backend/src/integrationTest/kotlin/sg/floenergy/energycore/flyaway_dump.sql
